/* FORM PAGE CONTAINER */
.form-container {
    max-width: 900px;
    margin: 50px auto;
    background: rgb(201, 212, 229);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

/* BIG TITLE */
.main-title {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

/* FORM */
.guidance-form h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin: 25px 0 10px;
}

.guidance-form select,
.guidance-form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

/* GRID FOR MARKS */
.marks-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* ANALYZE BUTTON */
.analyze-btn {
    width: 100%;
    padding: 16px;
    background: linear-gradient(135deg, #2563eb, #1e40af);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}

.analyze-btn:hover {
    opacity: 0.95;
}
.or-text {
    text-align: center;
    margin: 20px 0;
    font-weight: 600;
    color: #6b7280;
}

.file-input {
    width: 100%;
    padding: 12px;
    border: 1px dashed #9ca3af;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
}

